  .backLink {
    margin-bottom: 20px;
    display: block;
  }

  .effectGlass{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 50px auto;
    color: white;
    
    background: url('../admin-black.png') center/cover;

  
    border-radius: 10px;
    min-width: 300px;
  
  }
  
  .tableContainer {
    height: 70%;
    width: 80%;
    font-family: 'Didact Gothic', sans-serif;
    padding:40px;
    background-color: rgba(255,255,255,0,3);
    backdrop-filter: blur(8px);
  }
  
  .tableRow {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(218, 178, 70, 0.388);
    border-bottom: 1px solid black;
    margin: 5px 0;;
  }
  
  .tableColumnId {
    flex: 1;
  }
  
  .tableColumnName {
    flex: 2;
    font-weight: bold;
  }
  
  .tableColumnActions {
    flex: 1;
  }
  
  .deleteButton {
    padding: 5px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #e67b68;
    color: #f5f5f5;
    font-family: 'Didact Gothic', sans-serif;
    transition: .5s;
  }

  .deleteButton:hover {
    background-color: #e83a1b;
  }

  .backButton{
    all: unset;
    padding: 5px;
    padding:10px 20px;
    text-align: center;
    font-size: 1em;
    background-color: #634509;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    transition: .5s;
    width: 80px;
}
.backButton:hover{
  background-color: #9c7d3d;
}

.cabecera{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.subtitulo {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #eeb964;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid #eeb964;
}