.card{
    margin: 10px;
    background-color: var(--color-card-fondo);
    width: 70%;
    min-width: 350px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    max-width:500px;
    max-height: 700px;
    font-size: 14px;
    font-weight: normal;
    color: #1b1b19;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    margin-left:12%;
    border-radius: none;

}

.card h2{
    color: rgb(31, 32, 32);  
    font-family: 'Didact Gothic', sans-serif;
    place-self: center;
    justify-self: center;

}

.tituloCard{
    text-align: center;
    margin-left: 15px;
    width: 90%;
}

a {
    text-decoration: none;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 10px 26px #6a6a6a;

}

.card img {
    width:200px;
    height: 230px;
    border-radius: none;

}

@media only screen and (max-width: 900px) {
    .card {
        margin-left: -24px;
        margin-right: 0;
        font-size: 0.4rem;
        min-width: 170px;
    }

    .card img {
        width:100px;
        height: 115px;
    }


}