.tituloYFlecha{
   display: grid;
   grid-template-columns: auto auto;
   margin-top: 60px;
}
.tituloYFlecha h2{
   margin: 0;
   margin-left: 50px;
}

.flecha{
   display: grid;
   place-content: end;
   margin-right: 100px;
}


.grande {
   margin-top: 50px;
   display: grid;
   grid-template-columns: auto auto;
   place-content: center;
   height: 500px;
   
}

.imagenGrande{
width: 400px;
height: 400px;
border: 2px solid rgb(0, 0, 0);
}

.imagenGrande img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.imagenesChicas{
   width: 400px;
   height: 400px;
   border: 2px solid rgb(255, 255, 255);
   display: grid;
   grid-template-columns: auto auto;

}

.imagenesChicas img {
   width: 90%;
   height: 90%;
   object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
   margin: 5px;

}


.modalDetail{
   display: grid;
   place-content: end;
   margin-right: 200px;
}

.modalDetail button{
   margin-top: 20px;
}


.descript{
   margin-top: 30px;
   display: grid;
   grid-template-columns: auto;
   place-content: center;
}

.descript td{
   margin-top: 20px;
   margin-bottom: 50px;

}

.caracteristica{
   margin: 0px 40px 0px 40px;
   display: grid;
   grid-template-columns: auto;
   place-content: center;

}

.caracteristica h2{
  place-self: center;

}

.imagenesCaracteristicas{
      
      border: 2px solid rgb(255, 255, 255);
      display: grid;
      grid-template-columns: auto auto auto auto;
   
   }

   .imagenesCaracteristicas img {
      width: 90%;
      height: 90%;
      object-fit: cover;
     border: 2px solid rgb(0, 0, 0);
      margin: 5px;
   
   }

