.container {
    position: sticky;
    display: flex;
    justify-content: center;
    gap:0;
    z-index: 1;
    bottom: 0px;
    color: white;
    background-color: rgba(136, 136, 136, 0.393);
}
.noPage {
    color: white;
    background-color: red;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    font-size: 1em;
    border: none;
    border-radius: 0%;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 8px;
}

.disabled {
    cursor: not-allowed;
    background-color: rgb(96, 96, 96) !important;
    pointer-events:none;
    color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border:none;
    margin:5px 8px;

}

.firstButton {
    background-color: #e8ae1b;
    color: #513305;
    font-family: 'Didact Gothic', sans-serif;
    transition: .5s;
    font-size: 1.2em;

    font-size: 1em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;

    margin-bottom: 10px;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 8px;
}

.firstButton:hover {
    background-color: #ecc767;
}