.container{
    background-color: rgb(251, 232, 208);
}
.subtitulo {
    margin:0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.containerCards {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-around;
   margin: 0 auto;
   padding: 20px;
}

.firstButton {
    background-color: #e8ae1b;
    color: #513305;
    font-family: 'Didact Gothic', sans-serif;
    transition: .5s;
    font-size: 1.2em;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin:auto;
    margin-bottom: 10px;
  }

  .firstButton:hover {
    background-color: #ecc767;
  }

.container img{
    width: 250px;   
}

.container h2{
    color: rgb(31, 32, 32);  
    font-family: 'Didact Gothic', sans-serif;
}
