.container{
    background-color: var(--color-fondo);
    width:100%;
}
.subtitulo {
    margin:0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.containerCards {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-around;
   margin: 0 auto;
width: 90%;
   padding: 0 40px; /* Ajusta el valor de padding según sea necesario */
   grid-column-gap: 20px;
}



.container div {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 5px;
    place-content:center;
    
}

.container img{
    width: 250px;   
    
}


.container h2{
    color: rgb(31, 32, 32);  
    font-family: 'Didact Gothic', sans-serif;
    
    
}



@media (max-width: 1000px) {
    .container {
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
      padding: 0%;

      
    }
  
    .container div {
      margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
      width: 400px;
      height: 300px;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 5px;
      place-items: center;
      /* Alineación de elementos al centro */
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
    }

    h2{
        margin: 0%;
    }

  }


@media(max-width:900px){
    
    
    .container div{
        grid-template-columns: auto ;
        width: 200px;
        display: grid auto;
        border: 1px solid #ffffff;
        border-radius: 10px;

    }

    .container img{
        width: 150px;
    } 
}
@media(max-width:560px){

    .container div{
        display: grid;
        place-items: center; /* Centra horizontal y verticalmente */
        gap: 10px;
        text-align: center;
        padding: 20px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        width: 200px;
    }
    .container img{
        max-width: 100%;
        height: auto;
        }
    .container h2{
        font-size: 1.2em;
        font-weight: bold;
    }
            
    }

   


@media(max-width:470px){

    
}



