

.container {
    background-color: rgb(247, 248, 167);
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-around;

   
   margin: 0 auto;
   padding: 20px;
}

.container div {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 5px;
    place-content:center;
    
}

.container img{
    width: 250px;   
}

.container h2{
    color: rgb(31, 32, 32);  
    font-family: 'Didact Gothic', sans-serif;
}

@media(max-width:1000px){
    .container div{
        display: grid;
        grid-template-columns:auto ;
        width: 90%;
        place-items: center;
        grid-gap: 20px;
}
}

@media(max-width:900px){
    
    
    .container div{
        grid-template-columns: auto ;
        width: 200px;
        display: grid auto;

    }

    .container img{
        width: 150px;
    } 
}
@media(max-width:560px){

    .container div{
            display: grid;
            grid-template-columns:auto ;
            width: 40%;
            place-items: center;
            grid-gap: 5px;
    }

}

@media(max-width:470px){

    
}



