/* @import '../../variables.css';
.container {

    background-color: var(--color-fondo);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #050505;
}

.containerTexto{
}
    


.input {
    all:unset;
    width: 300px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    padding: 8px;
    margin: 10px;

}

.input:focus {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.filter{
    all: unset;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin:10px;
    color:#050505;
    width: 80px;
}
.searchButton{
    all: unset;
    padding: 8px;
    border:1px solid rgb(95, 95, 95);
    border-radius: 3px;
    background-color: var(--color);
    border-radius: 10px;
    margin:10px;
    color:#333;
    width: 80px;
}

.filter option {
    background-color: bisque;
    color: #2e2a2a;
    padding:20px;
  }

  .container h2{
    font-family: 'Didact Gothic', sans-serif;
  }

  /* Estilos para tabletas */
/* @media only screen and (max-width: 900px) {
    .filter{
        display: none;
    }
} */ 


/*NUEVO*/

.searchBar{
    /* border: 2px solid rgb(184, 13, 13); */
    display: grid;
    place-content: center;
    position: relative;
}

.inputSearch input[type="text"] {
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    border: 2px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    width: 400px; /* Ancho del input */
    outline: none; /* Eliminar el borde al enfocar */
  }

 .inputSearch input[type="text"]:focus {
    border-color: rgb(62, 100, 141); /* Cambiar color del borde al enfocar */
    box-shadow: 0 0 5px rgba(80, 80, 153, 0.5); /* Agregar sombra al enfocar */
  }

.inputSearch{
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;

}

.searchResults {
  transition: background-color 0.3s ease;
  background-color: rgb(235, 228, 228);
  width: 300px;
  padding: 0 35px;
  position: absolute;
  top: calc(72% + 1px); /* Cambia esta línea */
  left:45%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  border-radius: 2%;
  z-index: 9999;
}

    

  .searchResults p:hover {
    cursor: pointer;
    background-color: rgb(97, 109, 141); /* Cambiar el color de fondo al pasar el mouse */
  }

  .datePickers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaciado entre los datePickers y el campo de búsqueda */

  }

  .datePicker {
    margin: 0 10px; /* Espacio entre los datePickers */
  }

  @media only screen and (max-width: 450px) {
    .searchBar{
      /* border: 2px solid rgb(184, 13, 13); */
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .inputSearch input[type="text"] {
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    width: 170px; 
    outline: none; 
  }

  }
  
