.container {
    background-color: rgb(127, 175, 134);
    background-color: blanchedalmond;
    background-color: #ED834E;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Didact Gothic', sans-serif;
}

.input {
    all:unset;
    width: 350px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    padding: 8px;
    margin: 10px;

}

.filter{
    all: unset;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin:10px;
    color:#050505;
    width: 80px;
}
.searchButton{
    all: unset;
    padding: 8px;
    border:1px solid rgb(95, 95, 95);
    border-radius: 3px;
    background-color: rgb(245, 187, 116);
    border-radius: 10px;
    margin:10px;
    color:#333;
    width: 80px;
}

.filter option {
    background-color: bisque;
    color: #2e2a2a;
    padding:20px;
  }

  .container h2{
    font-family: 'Didact Gothic', sans-serif;
  }