@import '../../variables.css';
.container {

    background-color: var(--color-fondo);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Didact Gothic', sans-serif;
}

.input {
    all:unset;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-left: 1px dotted black;
    border-bottom: 1px dotted black;;

    padding: 8px;
    margin: 10px;

}

.input:focus {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.filter{
    all: unset;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin:10px;
    color:#050505;
    width: 80px;
}
.searchButton{
    all: unset;
    padding: 8px;
    border:1px solid rgb(95, 95, 95);
    border-radius: 3px;
    background-color: var(--color);
    border-radius: 10px;
    margin:10px;
    color:#333;
    width: 80px;
}

.filter option {
    background-color: bisque;
    color: #2e2a2a;
    padding:20px;
  }

  .container h2{
    font-family: 'Didact Gothic', sans-serif;
  }

  /* Estilos para tabletas */
@media only screen a (max-width: 900px) {
    .filter{
        display: none;
    }
}